@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;500&display=swap');

body, html {
  background-color: pink;
  font-family: 'Lato', sans-serif;
}
.thigns {
  font-family: 'Mukta', sans-serif !important;
  border-radius: 20px !important;
}

.hiring {
  font-family: 'Mukta', sans-serif;
}

@media (max-width: 1200px) {
  .hiring {
    display: none !important;
  }
}

.teamimg {
  width: 25px;
  height: auto;
  border-radius: 30px;
}